a {
    font-family: Verdana, Arial, serif;

    font-style: normal;
    font-style: italic;
    font-style: oblique;

    font-variant: normal;
    font-variant: small-caps;

    font-weight: normal;
    font-weight: bold;
    font-weight: bolder;
    font-weight: lighter;
    font-weight: 100;
    font-weight: 200;
    font-weight: 300;
    font-weight: 400;
    font-weight: 500;
    font-weight: 600;
    font-weight: 700;
    font-weight: 800;
    font-weight: 900;

    font-size: x-small;
    font-size: small;
    font-size: medium;
    font-size: large;
    font-size: x-large;
    font-size: xx-large;
    font-size: larger;
    font-size: smaller;
    font-size: 10px;
    font-size: 3%;

    font: small-caps 200 normal larger Arial, serif;
    font: caption;
    font: icon;
    font: menu;
    font: message-box;
    font: small-caption;
    font: status-bar;
}