z { font-weight: inherit }
a { font-weight: normal }
b { font-weight: bold }
c { font-weight: bolder  }
d { font-weight: lighter }
e { font-weight: 100 }
f { font-weight: 200 }
g { font-weight: 300 }
h { font-weight: 400 }
i { font-weight: 500 }
j { font-weight: 600 }
k { font-weight: 700 }
l { font-weight: 800 }
m { font-weight: 900 }
