<?xml version="1.0" encoding="UTF-8"?>
<!--
 Licensed to the Apache Software Foundation (ASF) under one or more
 contributor license agreements.  See the NOTICE file distributed with
 this work for additional information regarding copyright ownership.
 The ASF licenses this file to You under the Apache License, Version 2.0
 (the "License"); you may not use this file except in compliance with
 the License.  You may obtain a copy of the License at

     http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
-->
<!--
 Language Detector Plugin for Apache Nutch
  - using Language Detection Library ( http://code.google.com/p/language-detection/ )
  - based on the language identifier plugin bundled in Nutch (original provider: apache.org).
  - author : Nakatani Shuyo (Cybozu Labs, Inc.)
-->
<plugin
   id="language-detector"
   name="Language Detection Parser/Filter"
   version="1.0.0"
   provider-name="labs.cybozu.co.jp">

    <runtime>
      <library name="language-identifier.jar">
         <export name="*"/>
      </library>
      <!-- BEGIN: for Language Detection Library -->
      <library name="langdetect-nutch.jar">
         <export name="*"/>
      </library>
      <library name="jsonic-1.2.0.jar" />
      <library name="langdetect.jar" />
      <!-- END: for Language Detection Library -->
   </runtime>

   <requires>
      <import plugin="nutch-extensionpoints"/>
   </requires>

   <extension id="org.apache.nutch.analysis.lang.LanguageParser"
              name="Nutch language Parser"
              point="org.apache.nutch.parse.HtmlParseFilter">
      <implementation id="LanguageParser"
                      class="org.apache.nutch.analysis.lang.HTMLLanguageParser"/>
   </extension>

   <extension id="org.apache.nutch.analysis.lang.LanguageQueryFilter"
              name="Nutch Language Query Filter"
              point="org.apache.nutch.searcher.QueryFilter">
      <implementation id="LanguageQueryFilter"
                      class="org.apache.nutch.analysis.lang.LanguageQueryFilter">
        <parameter name="raw-fields" value="lang"/>
      </implementation>
   </extension>

   <!-- BEGIN: for Language Detection Library -->
   <extension id="com.cybozu.labs.nutch.plugin.LanguageDetectionFilter"
              name="language detection filter"
              point="org.apache.nutch.indexer.IndexingFilter">
      <implementation id="LanguageDetectionFilter"
                      class="com.cybozu.labs.nutch.plugin.LanguageDetectionFilter"/>
   </extension>
   <!-- END: for Language Detection Library -->

</plugin>

