AddDescription "RelaxNG Schema for HTML 5: Common Definitions" common.rng
AddDescription "RelaxNG Schema for HTML 5 Core (HTML)" html5core.rng
AddDescription "RelaxNG Schema for HTML 5 Core (XML)" xhtml5core.rng
AddDescription "RelaxNG Schema for HTML 5: Global Structure & Meta Data" meta.rng
