AddDescription "RelaxNG Schema for HTML 5 Core (XML)" xhtml5core.rnc
AddDescription "RelaxNG Schema for HTML 5 Core (HTML)" html5core.rnc
AddDescription "RelaxNG Schema for HTML 5 Exclusions" html5exclusions.rnc

AddDescription "RelaxNG Schema for HTML 5: Common Definitions" common.rnc
AddDescription "RelaxNG Schema for HTML 5: Global Structure & Meta Data" meta.rnc
AddDescription "RelaxNG Schema for HTML 5: (Inline) Phrase Markup" phrase.rnc
AddDescription "RelaxNG Schema for HTML 5: Basic Block Markup" block.rnc
AddDescription "Schema Testing Scripts and Instances" tests

