version: "{build}"

clone_depth: 5

environment:
  PYTHON: C:\Python34-x64
  BUILD_PY: .\build\build.py
  matrix:
    - JAVA_HOME: C:\Program Files\Java\jdk1.8.0
    - JAVA_HOME: C:\Program Files\Java\jdk9
    - JAVA_HOME: C:\Program Files\Java\jdk10

install:
  - set PATH=%PYTHON%;%PYTHON%\Scripts;%JAVA_HOME%\bin;%PATH%
  - java -version
  - python --version
  - python %BUILD_PY% update-shallow
  - appveyor-retry python %BUILD_PY% dldeps

build_script:
  - appveyor-retry python %BUILD_PY% build

test_script:
  - python %BUILD_PY% check
  - python %BUILD_PY% test
  - python %BUILD_PY% jar
  - java -jar .\build\dist\vnu.jar .\build\dist\index.html
  - java -jar .\build\dist\vnu.jar .\site\nu-about.html
  - python %BUILD_PY% war

cache:
  # cache the dependencies folder, and invalidate the cache
  # if any of the files right of the arrow change
  - 'dependencies -> .appveyor.yml,%BUILD_PY%,build\build.xml'
