root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# Please refer .settings directory for java coding styles
[*.java]
indent_style = space
indent_size = 4

[*.py]
indent_style = space
indent_size = 2

[*.{js,css,xml}]
indent_style = tab

[**/build.xml]
indent_style = space
indent_size = 2

[*.md]
trim_trailing_whitespace = false
