.ropeproject
nbproject
build/dist
build/vnu*.jar.zip
build/vnu*.war.zip
build/validator*.jar
build/VERSION
run-validator.sh
classes/
dependencies/
extras/
dist/
jars/
local-entities/
src/nu/validator/localentities/files/a-rel-extensions
src/nu/validator/localentities/files/about.html
src/nu/validator/localentities/files/css-parser-js
src/nu/validator/localentities/files/cli-help
src/nu/validator/localentities/files/entitymap
src/nu/validator/localentities/files/existing-rel-values
src/nu/validator/localentities/files/html5spec
src/nu/validator/localentities/files/icon.png
src/nu/validator/localentities/files/language-profiles
src/nu/validator/localentities/files/language-profiles-list.txt
src/nu/validator/localentities/files/language-subtag-registry
src/nu/validator/localentities/files/link-rel-extensions
src/nu/validator/localentities/files/log4j.properties
src/nu/validator/localentities/files/meta-name-extensions
src/nu/validator/localentities/files/misc.properties
src/nu/validator/localentities/files/parse-css-js
src/nu/validator/localentities/files/presets
src/nu/validator/localentities/files/schema*
src/nu/validator/localentities/files/script.js
src/nu/validator/localentities/files/style.css
src/nu/validator/localentities/files/subtag-registry
src/nu/validator/localentities/files/syntax-descriptions
src/nu/validator/localentities/files/vnu-alt-advice
src/nu/validator/localentities/files/wiki_whatwg_org_wiki_MicrosyntaxDescriptions
src/nu/validator/localentities/files/wiki_whatwg_org_wiki_Validator_nu_alt_advice
src/nu/validator/servlet/FormEmitter.java
src/nu/validator/servlet/PageEmitter.java
schema/html5/html5core.rnc
schema/html5/html5full-no-microdata.rnc
schema/html5/html5full-rdfa.rnc
schema/html5/html5full-rdfalite.rnc
schema/html5/html5full.rnc
schema/html5/its20-html5-types.rnc
schema/html5/its20-html5.rnc
schema/html5/legacy.rnc
schema/html5/xhtml5core-plus-web-forms2.rnc
schema/html5/xhtml5core.rnc
schema/html5/xhtml5full-html-no-microdata.rnc
schema/html5/xhtml5full-html-rdfalite.rnc
schema/html5/xhtml5full-html.rnc
schema/html5/xhtml5full-xhtml-no-microdata.rnc
schema/html5/xhtml5full-xhtml-rdfa.rnc
schema/html5/xhtml5full-xhtml-rdfalite.rnc
schema/html5/xhtml5full-xhtml.rnc
temp-javac-list
