*.el       linguist-vendored
*.bg       linguist-vendored
*.cs       linguist-vendored
*.de       linguist-vendored
*.el       linguist-vendored
*.en       linguist-vendored
*.es       linguist-vendored
*.fa       linguist-vendored
*.fr       linguist-vendored
*.hi       linguist-vendored
*.hu       linguist-vendored
*.it       linguist-vendored
*.ja       linguist-vendored
*.ko       linguist-vendored
*.nl       linguist-vendored
*.ro       linguist-vendored
*.ru       linguist-vendored
*.sv       linguist-vendored
*.uk       linguist-vendored
*.md       linguist-vendored
*.js       linguist-vendored
*.css      linguist-vendored
*.xsl      linguist-vendored
*.xml      linguist-vendored
*.dtd      linguist-vendored
*.ent      linguist-vendored
*.htm      linguist-vendored
*.html     linguist-vendored
*.xhtml    linguist-vendored
*.rnc      linguist-language=RelaxNG
*.rng      linguist-language=RelaxNG
*.sch      linguist-language=Schematron
