[submodule "htmlparser"]
	path = htmlparser
	url = git@github.com:validator/htmlparser.git
[submodule "jing-trang"]
	path = jing-trang
	url = git@github.com:validator/jing-trang.git
[submodule "tests"]
	path = tests
	url = git@github.com:validator/tests.git
