docs/*.1
.ropeproject
nbproject
build/__init__.pyc
build/__pycache__/
build/build.pyc
build/dist
build/dist-war
build/galimatias
build/html5spec
build/htmlparser
build/jing-shaded.jar
build/langdetect
build/schema
build/vnu*.jar.zip
build/vnu*.war.zip
build/validator*.jar
build/validator/
build/VERSION
build/.gradle
dependencies/
deps.tar.gz
dist/
extras/
jars.tar.gz
jars/
local-entities/
node_modules/
run-validator.sh
.commit_message_update
