Henri Sivonen <hsivonen@hsivonen.fi> hsivonen <none@none>
Henri Sivonen <hsivonen@hsivonen.fi> unknown <none@none>
Henri Sivonen <hsivonen@hsivonen.fi> html5-readonly <none@none>
Henri Sivonen <hsivonen@hsivonen.fi> convert-repo <none@none>
Michael[tm] Smith <mike@w3.org> Michael(tm) Smith <mike@w3.org>
Michael[tm] Smith <mike@w3.org> sideshowbarker <none@none>
Sam Ruby <rubys@intertwingly.net> rubys <none@none>
