**/gen/
**/out-dir/
*.*~
*.asc
*.iml
.checkstyle
.gradle
.gradle/
.groovy
.idea
.settings
.settings/
.svn/
/.externalToolBuilders/
/bin/
/build/
/buildSrc/bin/
/buildSrc/build/
/buildSrc/out/
/buildSrc/subprojects/*/bin/
/buildSrc/subprojects/*/build/
/buildSrc/subprojects/*/out/
/classes/
/examples/*/bin/
/examples/*/build/
/examples/*/out/
/examples/bin/
/examples/build/
/examples/out/
/out/
/pom.xml.releaseBackup
/release-perform.log
/release-prepare.log
/target-side/
/target/
/test/bin/
/test/build/
/test/out/
TEST-*
ant.log
build-eclipse
cobertura.ser
dist/
examples/JJTreeExamples/cpp/eg*/
javacc-*.tar.gz
javacc-*.zip
mvn.log
test.tmp/
tmp/