a { display:  inline }
b { display:  block }
c { display:  inline-block }
d { display:  list-item }
e { display:  run-in }
/* f { display:  compact } */
g { display:  table }
h { display:  inline-table }
i { display:  table-row-group }
j { display:  table-header-group }
k { display:  table-footer-group }
l { display:  table-row }
m { display:  table-column-group }
n { display:  table-column }
o { display:  table-cell }
p { display:  table-caption }
q { display:  ruby }
r { display:  ruby-base }
s { display:  ruby-text }
t { display:  ruby-base-container }
u { display:  ruby-text-container }
v { display:  none }
y { display: initial }
z { display: inherit }
