a {
  border: transparent;
  border: solid transparent;
  border: 1px transparent;
  border: solid 1px transparent;
  border: 1px solid transparent;
  border: transparent solid;
  border: transparent 1px;
  border: transparent solid 1px;
  border: transparent 1px solid;
  border: solid transparent 1px;
  border: 1px transparent solid;
  border-color: black black black transparent;
  border-color: black black transparent transparent;
  border-color: black black transparent;
  border-color: black transparent black black;
  border-color: black transparent black;
  border-color: black transparent transparent transparent;
  border-color: black transparent transparent;
  border-color: black transparent;
  border-color: transparent black black black;
  border-color: transparent black black;
  border-color: transparent black transparent transparent;
  border-color: transparent black transparent;
  border-color: transparent black;
  border-color: transparent transparent black black;
  border-color: transparent transparent black;
  border-color: transparent transparent transparent black;
  border-color: transparent transparent transparent transparent;
  border-color: transparent transparent transparent;
  border-color: transparent transparent;
  border-color: transparent;
  border-bottom: transparent;
  border-bottom: solid transparent;
  border-bottom: 1px transparent;
  border-bottom: solid 1px transparent;
  border-bottom: 1px solid transparent;
  border-bottom: transparent solid;
  border-bottom: transparent 1px;
  border-bottom: transparent solid 1px;
  border-bottom: transparent 1px solid;
  border-bottom: solid transparent 1px;
  border-bottom: 1px transparent solid;
  border-bottom-color: transparent;
  border-left: transparent;
  border-left: solid transparent;
  border-left: 1px transparent;
  border-left: solid 1px transparent;
  border-left: 1px solid transparent;
  border-left: transparent solid;
  border-left: transparent 1px;
  border-left: transparent solid 1px;
  border-left: transparent 1px solid;
  border-left: solid transparent 1px;
  border-left: 1px transparent solid;
  border-left-color: transparent;
  border-right: transparent;
  border-right: solid transparent;
  border-right: 1px transparent;
  border-right: solid 1px transparent;
  border-right: 1px solid transparent;
  border-right: transparent solid;
  border-right: transparent 1px;
  border-right: transparent solid 1px;
  border-right: transparent 1px solid;
  border-right: solid transparent 1px;
  border-right: 1px transparent solid;
  border-right-color: transparent;
  border-top: transparent;
  border-top: solid transparent;
  border-top: 1px transparent;
  border-top: solid 1px transparent;
  border-top: 1px solid transparent;
  border-top: transparent solid;
  border-top: transparent 1px;
  border-top: transparent solid 1px;
  border-top: transparent 1px solid;
  border-top: solid transparent 1px;
  border-top: 1px transparent solid;
  border-top-color: transparent;
  }

