body {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: 0.5em;
  margin-right: 2em;
  font-family: verdana;
  background-color: green;
  color: red;
}

.s1 {
   width: 10em;
   background-color: red;
}

.s2 {
   width: 20em;
}

.smalltext {
   font-size: 0.75em;
}
