/* value taken from https://www.microsoft.com/typography/otspec/languagetags.htm */
val-0 { font-language-override: "ABA"; }
val-1 { font-language-override: "ABK"; }
val-2 { font-language-override: "ADY"; }
val-3 { font-language-override: "AFK"; }
val-4 { font-language-override: "AFR"; }
val-5 { font-language-override: "AGW"; }
val-6 { font-language-override: "ALS"; }
val-7 { font-language-override: "ALT"; }
val-8 { font-language-override: "AMH"; }
val-9 { font-language-override: "ARA"; }
val-10 { font-language-override: "ARI"; }
val-11 { font-language-override: "ARK"; }
val-12 { font-language-override: "ASM"; }
val-13 { font-language-override: "ATH"; }
val-14 { font-language-override: "AVR"; }
val-15 { font-language-override: "AWA"; }
val-16 { font-language-override: "AYM"; }
val-17 { font-language-override: "AZE"; }
val-18 { font-language-override: "BAD"; }
val-19 { font-language-override: "BAG"; }
val-20 { font-language-override: "BAL"; }
val-21 { font-language-override: "BAU"; }
val-22 { font-language-override: "BBR"; }
val-23 { font-language-override: "BCH"; }
val-24 { font-language-override: "BCR"; }
val-25 { font-language-override: "BEL"; }
val-26 { font-language-override: "BEM"; }
val-27 { font-language-override: "BEN"; }
val-28 { font-language-override: "BGR"; }
val-29 { font-language-override: "BHI"; }
val-30 { font-language-override: "BHO"; }
val-31 { font-language-override: "BIK"; }
val-32 { font-language-override: "BIL"; }
val-33 { font-language-override: "BKF"; }
val-34 { font-language-override: "BLI"; }
val-35 { font-language-override: "BLN"; }
val-36 { font-language-override: "BLT"; }
val-37 { font-language-override: "BMB"; }
val-38 { font-language-override: "BML"; }
val-39 { font-language-override: "BOS"; }
val-40 { font-language-override: "BRE"; }
val-41 { font-language-override: "BRH"; }
val-42 { font-language-override: "BRI"; }
val-43 { font-language-override: "BRM"; }
val-44 { font-language-override: "BSH"; }
val-45 { font-language-override: "BTI"; }
val-46 { font-language-override: "CAT"; }
val-47 { font-language-override: "CEB"; }
val-48 { font-language-override: "CHE"; }
val-49 { font-language-override: "CHG"; }
val-50 { font-language-override: "CHH"; }
val-51 { font-language-override: "CHI"; }
val-52 { font-language-override: "CHK"; }
val-53 { font-language-override: "CHP"; }
val-54 { font-language-override: "CHR"; }
val-55 { font-language-override: "CHU"; }
val-56 { font-language-override: "CMR"; }
val-57 { font-language-override: "COP"; }
val-58 { font-language-override: "COS"; }
val-59 { font-language-override: "CRE"; }
val-60 { font-language-override: "CRR"; }
val-61 { font-language-override: "CRT"; }
val-62 { font-language-override: "CSL"; }
val-63 { font-language-override: "CSY"; }
val-64 { font-language-override: "DAN"; }
val-65 { font-language-override: "DAR"; }
val-66 { font-language-override: "DCR"; }
val-67 { font-language-override: "DEU"; }
val-68 { font-language-override: "DGR"; }
val-69 { font-language-override: "DIV"; }
val-70 { font-language-override: "DJR"; }
val-71 { font-language-override: "DNG"; }
val-72 { font-language-override: "DNK"; }
val-73 { font-language-override: "DRI"; }
val-74 { font-language-override: "DUN"; }
val-75 { font-language-override: "DZN"; }
val-76 { font-language-override: "EBI"; }
val-77 { font-language-override: "ECR"; }
val-78 { font-language-override: "EDO"; }
val-79 { font-language-override: "EFI"; }
val-80 { font-language-override: "ELL"; }
val-81 { font-language-override: "ENG"; }
val-82 { font-language-override: "ERZ"; }
val-83 { font-language-override: "ESP"; }
val-84 { font-language-override: "ETI"; }
val-85 { font-language-override: "EUQ"; }
val-86 { font-language-override: "EVK"; }
val-87 { font-language-override: "EVN"; }
val-88 { font-language-override: "EWE"; }
val-89 { font-language-override: "FAN"; }
val-90 { font-language-override: "FAR"; }
val-91 { font-language-override: "FIN"; }
val-92 { font-language-override: "FJI"; }
val-93 { font-language-override: "FLE"; }
val-94 { font-language-override: "FNE"; }
val-95 { font-language-override: "FON"; }
val-96 { font-language-override: "FOS"; }
val-97 { font-language-override: "FRA"; }
val-98 { font-language-override: "FRI"; }
val-99 { font-language-override: "FRL"; }
val-100 { font-language-override: "FTA"; }
val-101 { font-language-override: "FUL"; }
val-102 { font-language-override: "GAD"; }
val-103 { font-language-override: "GAE"; }
val-104 { font-language-override: "GAG"; }
val-105 { font-language-override: "GAL"; }
val-106 { font-language-override: "GAR"; }
val-107 { font-language-override: "GAW"; }
val-108 { font-language-override: "GEZ"; }
val-109 { font-language-override: "GIL"; }
val-110 { font-language-override: "GMZ"; }
val-111 { font-language-override: "GON"; }
val-112 { font-language-override: "GRN"; }
val-113 { font-language-override: "GRO"; }
val-114 { font-language-override: "GUA"; }
val-115 { font-language-override: "GUJ"; }
val-116 { font-language-override: "HAI"; }
val-117 { font-language-override: "HAL"; }
val-118 { font-language-override: "HAR"; }
val-119 { font-language-override: "HAU"; }
val-120 { font-language-override: "HAW"; }
val-121 { font-language-override: "HBN"; }
val-122 { font-language-override: "HIL"; }
val-123 { font-language-override: "HIN"; }
val-124 { font-language-override: "HMA"; }
val-125 { font-language-override: "HND"; }
val-126 { font-language-override: "HRI"; }
val-127 { font-language-override: "HRV"; }
val-128 { font-language-override: "HUN"; }
val-129 { font-language-override: "HYE"; }
val-130 { font-language-override: "IBO"; }
val-131 { font-language-override: "IJO"; }
val-132 { font-language-override: "ILO"; }
val-133 { font-language-override: "IND"; }
val-134 { font-language-override: "ING"; }
val-135 { font-language-override: "INU"; }
val-136 { font-language-override: "IRI"; }
val-137 { font-language-override: "IRT"; }
val-138 { font-language-override: "ISL"; }
val-139 { font-language-override: "ISM"; }
val-140 { font-language-override: "ITA"; }
val-141 { font-language-override: "IWR"; }
val-142 { font-language-override: "JAV"; }
val-143 { font-language-override: "JII"; }
val-144 { font-language-override: "JAN"; }
val-145 { font-language-override: "JUD"; }
val-146 { font-language-override: "JUL"; }
val-147 { font-language-override: "KAB"; }
val-148 { font-language-override: "KAC"; }
val-149 { font-language-override: "KAL"; }
val-150 { font-language-override: "KAN"; }
val-151 { font-language-override: "KAR"; }
val-152 { font-language-override: "KAT"; }
val-153 { font-language-override: "KAZ"; }
val-154 { font-language-override: "KEB"; }
val-155 { font-language-override: "KGE"; }
val-156 { font-language-override: "KHA"; }
val-157 { font-language-override: "KHK"; }
val-158 { font-language-override: "KHM"; }
val-159 { font-language-override: "KHS"; }
val-160 { font-language-override: "KHV"; }
val-161 { font-language-override: "KHW"; }
val-162 { font-language-override: "KIK"; }
val-163 { font-language-override: "KIR"; }
val-164 { font-language-override: "KIS"; }
val-165 { font-language-override: "KKN"; }
val-166 { font-language-override: "KLM"; }
val-167 { font-language-override: "KMB"; }
val-168 { font-language-override: "KMN"; }
val-169 { font-language-override: "KMO"; }
val-170 { font-language-override: "KMS"; }
val-171 { font-language-override: "KNR"; }
val-172 { font-language-override: "KOD"; }
val-173 { font-language-override: "KOH"; }
val-174 { font-language-override: "KOK"; }
val-175 { font-language-override: "KON"; }
val-176 { font-language-override: "KOP"; }
val-177 { font-language-override: "KOR"; }
val-178 { font-language-override: "KOZ"; }
val-179 { font-language-override: "KPL"; }
val-180 { font-language-override: "KRI"; }
val-181 { font-language-override: "KRK"; }
val-182 { font-language-override: "KRL"; }
val-183 { font-language-override: "KRM"; }
val-184 { font-language-override: "KRN"; }
val-185 { font-language-override: "KRT"; }
val-186 { font-language-override: "KSH"; }
val-187 { font-language-override: "KSI"; }
val-188 { font-language-override: "KSM"; }
val-189 { font-language-override: "KUI"; }
val-190 { font-language-override: "KUL"; }
val-191 { font-language-override: "KUM"; }
val-192 { font-language-override: "KUR"; }
val-193 { font-language-override: "KUU"; }
val-194 { font-language-override: "KUY"; }
val-195 { font-language-override: "KYK"; }
val-196 { font-language-override: "LAD"; }
val-197 { font-language-override: "LAH"; }
val-198 { font-language-override: "LAK"; }
val-199 { font-language-override: "LAM"; }
val-200 { font-language-override: "LAO"; }
val-201 { font-language-override: "LAT"; }
val-202 { font-language-override: "LAZ"; }
val-203 { font-language-override: "LCR"; }
val-204 { font-language-override: "LDK"; }
val-205 { font-language-override: "LEZ"; }
val-206 { font-language-override: "LIN"; }
val-207 { font-language-override: "LMA"; }
val-208 { font-language-override: "LMB"; }
val-209 { font-language-override: "LMW"; }
val-210 { font-language-override: "LSB"; }
val-211 { font-language-override: "LSM"; }
val-212 { font-language-override: "LTH"; }
val-213 { font-language-override: "LTZ"; }
val-214 { font-language-override: "LUB"; }
val-215 { font-language-override: "LUG"; }
val-216 { font-language-override: "LUH"; }
val-217 { font-language-override: "LUO"; }
val-218 { font-language-override: "LVI"; }
val-219 { font-language-override: "MAJ"; }
val-220 { font-language-override: "MAK"; }
val-221 { font-language-override: "MAL"; }
val-222 { font-language-override: "MAN"; }
val-223 { font-language-override: "MAP"; }
val-224 { font-language-override: "MAR"; }
val-225 { font-language-override: "MAW"; }
val-226 { font-language-override: "MBN"; }
val-227 { font-language-override: "MCH"; }
val-228 { font-language-override: "MCR"; }
val-229 { font-language-override: "MDE"; }
val-230 { font-language-override: "MEN"; }
val-231 { font-language-override: "MIZ"; }
val-232 { font-language-override: "MKD"; }
val-233 { font-language-override: "MLE"; }
val-234 { font-language-override: "MLG"; }
val-235 { font-language-override: "MLN"; }
val-236 { font-language-override: "MLR"; }
val-237 { font-language-override: "MLY"; }
val-238 { font-language-override: "MND"; }
val-239 { font-language-override: "MNG"; }
val-240 { font-language-override: "MNI"; }
val-241 { font-language-override: "MNK"; }
val-242 { font-language-override: "MNX"; }
val-243 { font-language-override: "MOH"; }
val-244 { font-language-override: "MOK"; }
val-245 { font-language-override: "MOL"; }
val-246 { font-language-override: "MON"; }
val-247 { font-language-override: "MOR"; }
val-248 { font-language-override: "MRI"; }
val-249 { font-language-override: "MTH"; }
val-250 { font-language-override: "MTS"; }
val-251 { font-language-override: "MUN"; }
val-252 { font-language-override: "NAG"; }
val-253 { font-language-override: "NAN"; }
val-254 { font-language-override: "NAS"; }
val-255 { font-language-override: "NCR"; }
val-256 { font-language-override: "NDB"; }
val-257 { font-language-override: "NDG"; }
val-258 { font-language-override: "NEP"; }
val-259 { font-language-override: "NEW"; }
val-260 { font-language-override: "NGR"; }
val-261 { font-language-override: "NHC"; }
val-262 { font-language-override: "NIS"; }
val-263 { font-language-override: "NIU"; }
val-264 { font-language-override: "NKL"; }
val-265 { font-language-override: "NKO"; }
val-266 { font-language-override: "NLD"; }
val-267 { font-language-override: "NOG"; }
val-268 { font-language-override: "NOR"; }
val-269 { font-language-override: "NSM"; }
val-270 { font-language-override: "NTA"; }
val-271 { font-language-override: "NTO"; }
val-272 { font-language-override: "NYN"; }
val-273 { font-language-override: "OCI"; }
val-274 { font-language-override: "OCR"; }
val-275 { font-language-override: "OJB"; }
val-276 { font-language-override: "ORI"; }
val-277 { font-language-override: "ORO"; }
val-278 { font-language-override: "OSS"; }
val-279 { font-language-override: "PAA"; }
val-280 { font-language-override: "PAL"; }
val-281 { font-language-override: "PAN"; }
val-282 { font-language-override: "PAP"; }
val-283 { font-language-override: "PAS"; }
val-284 { font-language-override: "PGR"; }
val-285 { font-language-override: "PIL"; }
val-286 { font-language-override: "PLG"; }
val-287 { font-language-override: "PLK"; }
val-288 { font-language-override: "PRO"; }
val-289 { font-language-override: "PTG"; }
val-290 { font-language-override: "QIN"; }
val-291 { font-language-override: "RAJ"; }
val-292 { font-language-override: "RCR"; }
val-293 { font-language-override: "RBU"; }
val-294 { font-language-override: "RIA"; }
val-295 { font-language-override: "RMS"; }
val-296 { font-language-override: "ROM"; }
val-297 { font-language-override: "ROY"; }
val-298 { font-language-override: "RSY"; }
val-299 { font-language-override: "RUA"; }
val-300 { font-language-override: "RUS"; }
val-301 { font-language-override: "SAD"; }
val-302 { font-language-override: "SAN"; }
val-303 { font-language-override: "SAT"; }
val-304 { font-language-override: "SAY"; }
val-305 { font-language-override: "SEK"; }
val-306 { font-language-override: "SEL"; }
val-307 { font-language-override: "SGO"; }
val-308 { font-language-override: "SHN"; }
val-309 { font-language-override: "SIB"; }
val-310 { font-language-override: "SID"; }
val-311 { font-language-override: "SIG"; }
val-312 { font-language-override: "SKS"; }
val-313 { font-language-override: "SKY"; }
val-314 { font-language-override: "SLA"; }
val-315 { font-language-override: "SLV"; }
val-316 { font-language-override: "SML"; }
val-317 { font-language-override: "SMO"; }
val-318 { font-language-override: "SNA"; }
val-319 { font-language-override: "SND"; }
val-320 { font-language-override: "SNH"; }
val-321 { font-language-override: "SNK"; }
val-322 { font-language-override: "SOG"; }
val-323 { font-language-override: "SOT"; }
val-324 { font-language-override: "SQI"; }
val-325 { font-language-override: "SRB"; }
val-326 { font-language-override: "SRK"; }
val-327 { font-language-override: "SRR"; }
val-328 { font-language-override: "SSL"; }
val-329 { font-language-override: "SSM"; }
val-330 { font-language-override: "SUR"; }
val-331 { font-language-override: "SVA"; }
val-332 { font-language-override: "SVE"; }
val-333 { font-language-override: "SWA"; }
val-334 { font-language-override: "SWK"; }
val-335 { font-language-override: "SWZ"; }
val-336 { font-language-override: "SXT"; }
val-337 { font-language-override: "SYR"; }
val-338 { font-language-override: "TAB"; }
val-339 { font-language-override: "TAJ"; }
val-340 { font-language-override: "TAM"; }
val-341 { font-language-override: "TAT"; }
val-342 { font-language-override: "TCR"; }
val-343 { font-language-override: "TEL"; }
val-344 { font-language-override: "TGN"; }
val-345 { font-language-override: "TGR"; }
val-346 { font-language-override: "TGY"; }
val-347 { font-language-override: "THA"; }
val-348 { font-language-override: "THT"; }
val-349 { font-language-override: "TIB"; }
val-350 { font-language-override: "TKM"; }
val-351 { font-language-override: "TMN"; }
val-352 { font-language-override: "TNA"; }
val-353 { font-language-override: "TNE"; }
val-354 { font-language-override: "TNG"; }
val-355 { font-language-override: "TOD"; }
val-356 { font-language-override: "TRK"; }
val-357 { font-language-override: "TSG"; }
val-358 { font-language-override: "TUA"; }
val-359 { font-language-override: "TUL"; }
val-360 { font-language-override: "TUV"; }
val-361 { font-language-override: "TWI"; }
val-362 { font-language-override: "UDM"; }
val-363 { font-language-override: "UKR"; }
val-364 { font-language-override: "URD"; }
val-365 { font-language-override: "USB"; }
val-366 { font-language-override: "UYG"; }
val-367 { font-language-override: "UZB"; }
val-368 { font-language-override: "VEN"; }
val-369 { font-language-override: "VIT"; }
val-370 { font-language-override: "WAG"; }
val-371 { font-language-override: "WCR"; }
val-372 { font-language-override: "WEL"; }
val-373 { font-language-override: "WLF"; }
val-374 { font-language-override: "XBD"; }
val-375 { font-language-override: "XHS"; }
val-376 { font-language-override: "YAK"; }
val-377 { font-language-override: "YBA"; }
val-378 { font-language-override: "YCR"; }
val-379 { font-language-override: "YIC"; }
val-380 { font-language-override: "YIM"; }
val-381 { font-language-override: "ZHH"; }
val-382 { font-language-override: "ZHP"; }
val-383 { font-language-override: "ZHS"; }
val-384 { font-language-override: "ZHT"; }
val-385 { font-language-override: "ZND"; }
val-386 { font-language-override: "ZUL"; }
