div {
        break-before: inherit;
}
div {
	break-before: auto;
}
div {
        break-before: avoid;
}
div {   
        break-before: avoid-page;
}
div {
	break-before: page;
}
div {
        break-before: left;
}
div {
        break-before: right;
}
div {
        break-before: recto;
}
div {
        break-before: verso;
}
div {
        break-before: avoid-column;
}
div {
        break-before: column;
}
div {
        break-before: avoid-region;
}
div {
        break-before: region;
}
