a {
  background: inherit inherit;
  background-attachment: scroll scroll;
  background-attachment: inherit inherit;
  background-color: transparent transparent;
  background-color: #000 #000;
  background-color: #000000 #000000;
  background-color: black black;
  background-color: rgb(0, 0, 0) rgb(0, 0, 0);
  background-color: rgb(0%, 0%, 0%) rgb(0%, 0%, 0%);
  background-color: rgb(0, 0, 0, 0);
  background-color: rgb(0%, 0%, 0%, 0%);
  background-color: inherit inherit;
  background-image: none none;
  background-image: url(http://www.w3.org/Icons/w3c_home) url(http://www.w3.org/Icons/w3c_home);
  background-image: url('http://www.w3.org/Icons/w3c_home') url('http://www.w3.org/Icons/w3c_home');
  background-image: url("http://www.w3.org/Icons/w3c_home") url("http://www.w3.org/Icons/w3c_home");
  background-image: inherit inherit;
  background-position: center center center;
  background-position: 0 0 0;
  background-position: 0% 0% 0%;
  background-position: inherit inherit;
  background-repeat: repeat repeat;
  background-repeat: inherit inherit;
  border: inherit inherit;
  border-bottom: inherit inherit;
  border-bottom-color: transparent transparent;
  border-bottom-color: #000 #000;
  border-bottom-color: #000000 #000000;
  border-bottom-color: black black;
  border-bottom-color: rgb(0, 0, 0) rgb(0, 0, 0);
  border-bottom-color: rgb(0%, 0%, 0%) rgb(0%, 0%, 0%);
  border-bottom-color: rgb(0, 0, 0, 0);
  border-bottom-color: rgb(0%, 0%, 0%, 0%);
  border-bottom-color: inherit inherit;
  border-bottom-style: none none;
  border-bottom-style: inherit inherit;
  border-bottom-width: 0 0;
  border-bottom-width: thin thin;
  border-bottom-width: inherit inherit;
  border-collapse: collapse collapse;
  border-collapse: inherit inherit;
  border-color: transparent transparent transparent transparent transparent;
  border-color: #000 #000 #000 #000 #000;
  border-color: #000000 #000000 #000000 #000000 #000000;
  border-color: black black black black black;
  border-color: rgb(0, 0, 0) rgb(0, 0, 0) rgb(0, 0, 0) rgb(0, 0, 0) rgb(0, 0, 0);
  border-color: rgb(0%, 0%, 0%) rgb(0%, 0%, 0%) rgb(0%, 0%, 0%) rgb(0%, 0%, 0%) rgb(0%, 0%, 0%);
  border-color: rgb(0, 0, 0, 0);
  border-color: rgb(0%, 0%, 0%, 0%);
  border-color: inherit inherit;
  border-left: inherit inherit;
  border-left-color: transparent transparent;
  border-left-color: #000 #000;
  border-left-color: #000000 #000000;
  border-left-color: black black;
  border-left-color: rgb(0, 0, 0) rgb(0, 0, 0);
  border-left-color: rgb(0%, 0%, 0%) rgb(0%, 0%, 0%);
  border-left-color: rgb(0, 0, 0, 0);
  border-left-color: rgb(0%, 0%, 0%, 0%);
  border-left-color: inherit inherit;
  border-left-style: none none;
  border-left-style: inherit inherit;
  border-left-width: 0 0;
  border-left-width: thin thin;
  border-left-width: inherit inherit;
  border-right: inherit inherit;
  border-right-color: transparent transparent;
  border-right-color: #000 #000;
  border-right-color: #000000 #000000;
  border-right-color: black black;
  border-right-color: rgb(0, 0, 0) rgb(0, 0, 0);
  border-right-color: rgb(0%, 0%, 0%) rgb(0%, 0%, 0%);
  border-right-color: rgb(0, 0, 0, 0);
  border-right-color: rgb(0%, 0%, 0%, 0%);
  border-right-color: inherit inherit;
  border-right-style: none none;
  border-right-style: inherit inherit;
  border-right-width: 0 0;
  border-right-width: thin thin;
  border-right-width: inherit inherit;
  border-top: inherit inherit;
  border-top-color: transparent transparent;
  border-top-color: #000 #000;
  border-top-color: #000000 #000000;
  border-top-color: black black;
  border-top-color: rgb(0, 0, 0) rgb(0, 0, 0);
  border-top-color: rgb(0%, 0%, 0%) rgb(0%, 0%, 0%);
  border-top-color: rgb(0, 0, 0, 0);
  border-top-color: rgb(0%, 0%, 0%, 0%);
  border-top-color: inherit inherit;
  border-top-style: none none;
  border-top-style: inherit inherit;
  border-top-width: 0 0;
  border-top-width: thin thin;
  border-top-width: inherit inherit;
  border-spacing: 0 0 0;
  border-spacing: inherit inherit;
  border-style: none none none none none;
  border-style: inherit inherit;
  border-width: 0 0 0 0 0;
  border-width: inherit inherit;
  bottom: 0 0;
  bottom: 0% 0%;
  bottom: auto auto;
  bottom: inherit inherit;
  caption-side: top top;
  caption-side: inherit inherit;
  clear: none none;
  clear: inherit inherit;
  clip: auto auto;
  clip: rect(0, 0, 0, 0) rect(0, 0, 0, 0);
  clip: rect(0, 0, 0, 0, 0);
  clip: inherit inherit;
  color: #000 #000;
  color: #000000 #000000;
  color: black black;
  color: rgb(0, 0, 0) rgb(0, 0, 0);
  color: rgb(0%, 0%, 0%) rgb(0%, 0%, 0%);
  color: rgb(0, 0, 0, 0);
  color: rgb(0%, 0%, 0%, 0%);
  color: inherit inherit;
  content: normal normal;
  content: inherit inherit;
  counter-increment: a 1 1;
  counter-increment: none none;
  counter-increment: inherit inherit;
  counter-reset: a 1 1;
  counter-reset: none none;
  counter-reset: inherit inherit;
  cursor: auto auto;
  cursor: url(http://www.w3.org/Icons/w3c_home) url(http://www.w3.org/Icons/w3c_home);
  cursor: url('http://www.w3.org/Icons/w3c_home') url('http://www.w3.org/Icons/w3c_home');
  cursor: url("http://www.w3.org/Icons/w3c_home") url("http://www.w3.org/Icons/w3c_home");
  cursor: inherit inherit;
  direction: ltr ltr;
  direction: inherit inherit;
  display: block block;
  display: inherit inherit;
  empty-cells: show show;
  empty-cells: inherit inherit;
  float: none none;
  float: inherit inherit;
  font: icon icon;
  font: inherit inherit;
  /* 'font-family' accepts duplicate keywords as specific font-family names. */
  font-size: small small;
  font-size: smaller smaller;
  font-size: 1em 1em;
  font-size: 1% 1%;
  font-size: inherit inherit;
  font-style: normal normal;
  font-style: inherit inherit;
  font-variant: normal normal;
  font-variant: inherit inherit;
  font-weight: bold bold;
  font-weight: bolder bolder;
  font-weight: 400 400;
  font-weight: inherit inherit;
  height: 1em 1em;
  height: 1% 1%;
  height: auto auto;
  height: inherit inherit;
  left: 1em 1em;
  left: 1% 1%;
  left: auto auto;
  left: inherit inherit;
  letter-spacing: 1em 1em;
  letter-spacing: normal normal;
  letter-spacing: inherit inherit;
  line-height: normal normal;
  line-height: 1em 1em;
  line-height: 1% 1%;
  line-height: 1 1;
  line-height: inherit inherit;
  list-style: inherit inherit;
  list-style-image: none none;
  list-style-image: url(http://www.w3.org/Icons/w3c_home) url(http://www.w3.org/Icons/w3c_home);
  list-style-image: url('http://www.w3.org/Icons/w3c_home') url('http://www.w3.org/Icons/w3c_home');
  list-style-image: url("http://www.w3.org/Icons/w3c_home") url("http://www.w3.org/Icons/w3c_home");
  list-style-image: inherit inherit;
  list-style-position: inside inside;
  list-style-position: inherit inherit;
  list-style-type: disc disc;
  list-style-type: inherit inherit;
  margin: auto auto auto auto auto;
  margin: 0 0 0 0 0;
  margin: 0% 0% 0% 0% 0%;
  margin: inherit inherit;
  margin-bottom: auto auto;
  margin-bottom: 0 0;
  margin-bottom: 0% 0%;
  margin-bottom: inherit inherit;
  margin-left: auto auto;
  margin-left: 0 0;
  margin-left: 0% 0%;
  margin-left: inherit inherit;
  margin-right: auto auto;
  margin-right: 0 0;
  margin-right: 0% 0%;
  margin-right: inherit inherit;
  margin-top: auto auto;
  margin-top: 0 0;
  margin-top: 0% 0%;
  margin-top: inherit inherit;
  max-height: 1em 1em;
  max-height: 1% 1%;
  max-height: none none;
  max-height: inherit inherit;
  max-width: 1em 1em;
  max-width: 1% 1%;
  max-width: none none;
  max-width: inherit inherit;
  min-height: 1em 1em;
  min-height: 1% 1%;
  min-height: inherit inherit;
  min-width: 1em 1em;
  min-width: 1% 1%;
  min-width: inherit inherit;
  orphans: 2 2;
  orphans: inherit inherit;
  outline: inherit inherit;
  outline-color: invert invert;
  outline-color: #000 #000;
  outline-color: #000000 #000000;
  outline-color: black black;
  outline-color: rgb(0, 0, 0) rgb(0, 0, 0);
  outline-color: rgb(0%, 0%, 0%) rgb(0%, 0%, 0%);
  outline-color: rgb(0, 0, 0, 0);
  outline-color: rgb(0%, 0%, 0%, 0%);
  outline-color: inherit inherit;
  outline-style: none none;
  outline-style: inherit inherit;
  outline-width: 0 0;
  outline-width: thin thin;
  outline-width: inherit inherit;
  overflow: auto auto;
  overflow: inherit inherit;
  padding: auto auto auto auto auto;
  padding: 0 0 0 0 0;
  padding: 0% 0% 0% 0% 0%;
  padding: inherit inherit;
  padding-bottom: auto auto;
  padding-bottom: 0 0;
  padding-bottom: 0% 0%;
  padding-bottom: inherit inherit;
  padding-left: auto auto;
  padding-left: 0 0;
  padding-left: 0% 0%;
  padding-left: inherit inherit;
  padding-right: auto auto;
  padding-right: 0 0;
  padding-right: 0% 0%;
  padding-right: inherit inherit;
  padding-top: auto auto;
  padding-top: 0 0;
  padding-top: 0% 0%;
  padding-top: inherit inherit;
  page-break-after: auto auto;
  page-break-after: inherit inherit;
  page-break-before: auto auto;
  page-break-before: inherit inherit;
  page-break-inside: auto auto;
  page-break-inside: inherit inherit;
  position: fixed fixed;
  position: inherit inherit;
  quotes: "(" ")" "x";
  quotes: none none;
  quotes: inherit inherit;
  right: auto auto;
  right: 0 0;
  right: 0% 0%;
  right: inherit inherit;
  table-layout: auto auto;
  table-layout: inherit inherit;
  text-align: left left;
  text-align: inherit inherit;
  text-decoration: none none;
  text-decoration: blink blink;
  text-decoration: inherit inherit;
  text-indent: 0 0;
  text-indent: 0% 0%;
  text-indent: inherit inherit;
  text-transform: none none;
  text-transform: inherit inherit;
  top: auto auto;
  top: 0 0;
  top: 0% 0%;
  top: inherit inherit;
  unicode-bidi: embed embed;
  unicode-bidi: inherit inherit;
  vertical-align: sub sub;
  vertical-align: 0 0;
  vertical-align: 0% 0%;
  vertical-align: inherit inherit;
  visibility: hidden hidden;
  visibility: inherit inherit;
  white-space: pre pre;
  white-space: inherit inherit;
  widows: 2 2;
  widows: inherit inherit;
  width: 1em 1em;
  width: 1% 1%;
  width: auto auto;
  width: inherit inherit;
  word-spacing: normal normal;
  word-spacing: 0 0;
  word-spacing: inherit inherit;
  z-index: auto auto;
  z-index: 1 1;
  z-index: inherit inherit;
  }
