a {
    color: inherit;
    background-color: inherit;
    background-image: inherit;
    background-repeat: inherit;
    background-attachment: inherit;
    background-position: inherit;
    background: inherit;
}