div {
        break-before: inherit;
}
div {
	break-before: auto;
}
div {
        break-before: avoid;
}
div {
        break-before: avoid-page;
}
div {
        break-before: avoid-column;
}
div {
        break-before: avoid-region;
}
