<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/tocbot.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}

{% seo %}
  </head>

  <body>
    <div class="container">
      <nav class="toc toc-right js-toc relative z-1 transition--300 absolute pa4 pt5 is-position-fixed"></nav>
      <section id="main_content" class="js-toc-content">
        {{ content }}
      </section>
    </div>
    <p id=sticky>
      <span onclick="document.getElementById('sticky').style.display='none'" class="close-button topright">&times;</span>
      <i>For an integrated ToC on mobile, use
      <br>
      <a href="https://github.com/validator/validator/blob/main/README.md">https://github.com/validator/validator/blob/main/README.md</a></i>
  </body>
  <script src="{{ '/assets/js/anchor.min.js' | relative_url }}"></script>
  <script src="{{ '/assets/js/tocbot.min.js' | relative_url }}"></script>
  <script src="{{ '/assets/js/script.js' | relative_url }}"></script>
</html>
