div {
  background: inherit;
}

/* attachment single values */
div {
  background: scroll;
}

div {
  background: fixed;
}

div {
  background: local;
}

div {
  background: local, local;
}

div {
  background: scroll, fixed, local, local, scroll;
}

/* background-clip single values */

div {
  background: border-box;
}

div {
  background: padding-box;
}

div {
  background: border-box, padding-box;
}

div {
  background: border-box, border-box, padding-box, padding-box;
}

/* background-image single values */

div {
 background: none; 
}

div {
 background: url("marble.svg"); 
}

div {
 background: none, url("marble.svg"); 
}

div {
 background: url("marble.svg"), none; 
}

div {
 background: url("paper.svg"), url("rock.png"), url("cissors.jpg"); 
}

div {
 background: none, none, none; 
}

/* background origin single values */

div {
  background: padding-box;
}

div {
  background: border-box;
}

div {
  background: content-box;
}

div {
  background: padding-box, border-box, content-box;
}

div {
  background: border-box, padding-box, border-box, content-box;
}

/* background-position single values */

a {background: inherit }
b {background: top }
c {background: center }
d {background: left }
e {background: 12% }
f {background: 12em }
g {background: 0 }
h {background: 12% center}
i {background: top left }
j {background: left top }
k {background: left 50% }
l {background: 50px bottom }
m {background: top 12% center }
n {background: center left 12% }
o {background: left 12% top }
p {background: left, top, left}
q {background: left center, top left, left -42px top 12cm, top 12cm left -42px}

/* background-repeat single values */

div {
  background: repeat-x;
}

div {
  background: repeat-y;
}

div {
  background: repeat;
}

div {
  background: no-repeat;
}

div {
  background: space;
}

div {
  background: round;
}

div {
  background: space repeat;
}

div {
  background: round space;
}

div {
  background: no-repeat repeat;
}

div {
  background: space repeat, round, repeat-x, round space;
}

/* background-size single values */

div {
  background: top left / 0;
}
div {
  background: top left / 12em;
}
div {
  background: top left / 42px;
}
div {
  background: top left / 12%;
}
div {
  background: top left / auto;
}
div {
  background: top left / 12em auto;
}
div {
  background: top left / auto 42%;
}
div {
  background: top left / 12px 42%;
}
div {
  background: top left / cover;
}
div {
  background: top left / contain;
}
div {
  background: top left / auto, top left /auto auto, top left /12px 42%, top left /cover, top left /contain, top left/12em;
}
