a {
    word-spacing: inherit;
    letter-spacing: inherit;
    text-decoration: inherit;
    vertical-align: inherit;
    text-transform: inherit;
    text-align: inherit;
    text-indent: inherit;
    line-height: inherit;
    white-space: inherit;    
}